{
    "data_source"      : "WeatherFlow" ,
    "data_url"         : None ,
    "station_id"       : "12345" ,
    "api_token"        : "12345123-1234-1234-1234-123456789012" ,
    "alerts_source"    : "NWS" ,
    "alerts_zone"      : "FLZ050" ,
    "latitude"         : "47.31",
    "longitude"        : "-122.36",
    "sunrise_sunset"   : "astral",
    "timezone"         : "America/Los_Angeles" ,
    "twocolor_display" : "1" ,
    "debug"            : "False" ,
    "debug_nws"        : "True" ,
    "debug_screen"     : "False"
}

#-----------------------------------------------------------------------
# ACTION REQUIRED BEFORE RUNNING THIS APPLICATION
#-----------------------------------------------------------------------
#
# 1. copy this file to 'config.json'
# 2. edit config.json and edit in your pertinent values.
#      Be sure to quote the values and keep the trailing
#      comma (where present).
# 3. delete this comment block from your edited config.json
#
# 4. (optional)
#      To check your file's validity you can run through
#     the jq utility ala:
#        apt-get install -y jq
#        cat config.json | jq .
#
#
# About these settings...
#  data_source = WeatherFlow requires station_id and api_token
#  data_source = url requires data_url to query JSON data from (weewx)
#
#  alerts_source = NWS requires alerts_zone
#
#  sunrise_sunset = astral requires latitude, longitude, timezone
#                   and the astral python library must be installed
#
#-----------------------------------------------------------------------

