{
    "twocolor_display" : "True"  ,
    "data_url"         : "http://pi4/weewx/vp2/current.html" ,
    "alerts_url"       : "https://api.weather.gov/alerts/active?zone=WAZ558", 
    "forecast_url"     : "https://api.weather.gov/gridpoints/SEW/121,54/forecast",
    "debug"            : [ ],
    "possible_debug"   : [ "alerts", "config", "conditions", "datetime", "forecast" ]
}

#-----------------------------------------------------------------------
# ACTION REQUIRED BEFORE RUNNING THIS APPLICATION
#-----------------------------------------------------------------------
#
# 1. copy this file to 'config.json'
# 2. edit config.json and edit in your pertinent values.
#      Be sure to quote the values and keep the trailing
#      comma (where present).
# 3. delete this comment block from your edited config.json
#
# 4. (optional)
#      To check your file's validity you can run through
#     the jq utility ala:
#        apt-get install -y jq
#        cat config.json | jq .
#
#
# data_url is the json output from the current.html.tmpl weewx skin located here
#
# alerts_url and forecast_url are the NWS URLs to get that data.  See the
# docs subdirectory for details on how to determine your URLs.
#
# debug is an array of things you can choose to print debugging info about,
# with 'possible_debug' listing all the possible things currently supported
# (because JSON does not support comments)
# 
#-----------------------------------------------------------------------

